.home-body
{
  background-color: rgb(244, 164, 61);
  justify-items: center;
  display: grid;
}

.home-head
{
  background-color: rgb(157, 122, 76);
  width: 100%;
  justify-items: center;
}

.home-container
{
  background-color: rgb(246, 204, 149);
  width: 30%;
  border-radius: 7px;
  height: 400px;
  overflow: scroll;
  padding: 20px;
  overflow-x: hidden;
}

.home-input
{
  height: 30px;
  width: 80%;
}

.home-button
{
  height: 30px;
  width: 80%;
  background-color: rgb(79, 54, 21);
}

.insertion
{
  background-color: antiquewhite;
  padding: 5px;
  width: 100%;
  display: grid;
  justify-items: center;
}

.base
{
  background-color: antiquewhite;
  width: 100%9;
}

.logout-button
{
    background-color: rgb(255, 51, 1);
    width: 5%;
    height:  30px;
    border-radius: 6px;
}

a
{
    text-decoration: none;
    color: black;
}

.heading
{
    background-color: rgb(194, 162, 121);
    justify-items: center;
}

.lists
{
    background-color: rgb(152, 138, 121);
}

.bars
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 194, 122);
    border: 2px solid black;
    padding: 3px;
    font-size: larger;
    font-weight: bolder;
}