<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initaial-scale=1.0">
  <title>To-Do List</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='homeStyle.css')}}">
</head>
<body class="home-body">
  <div class="home-head">
    <h2>Welcome, {{ email }}</h2>
    <h2>To Do</h2>
  </div><br>
<div class="home-container">
  <form method="POST" class="insertion">
    <input type="text" name="task" placeholder="Enter a new task..." class="home-input" required><br>
    <button type="submit" class="home-button">Add</button>
  </form>
<div class="base">
  <div class="heading">
  <h3>Your Tasks:</h3>
</div>
  <div class="lists">
    {% for id, task in tasks %}
    <div class="bars">
      <p>{{ task }} </p> <a style="margin-top: 15px;" href="{{ url_for('delete', id=id) }}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></a>
    </div>
    {% else %}
      <p>No tasks yet!</p>
    {% endfor %}
  </div>
</div>
</div><br>

  <button class="logout-button"><a href="{{ url_for('logout') }}" >Logout</a></button>
</body>
</html>
